<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="photo-container" *ngFor="let photo of photos">
  <h3>{{ photo.user }}</h3>
  <img [src]="photo.webformatURL" [alt]="photo.tags" />
</div>
 <div class="video-container" *ngFor="let video of videos">
  <h3>{{ video.user.name }}</h3>
  <video width="320" height="240" controls>
    <source [src]="video.video_files[0].link" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
</body>
</html>